/* Index */

html,
body {
  min-height: 100%;
}

body {
  margin: 0 auto;
  max-width: 1024px;
  background-image: linear-gradient(#333, #222);
  background-size: auto 100%, 40px;
  background-position: center;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2 {
  margin: 0;
}

.header {
  padding: 15px;
  max-width: 945px;
  background-color: #fff;
  margin: 0 auto;
}

#container {
  margin: 20px 0 0 0;
}

#subContainer {
  padding: 15px;
  max-width: 945px;
  background-color: #fff;
  border-bottom: 5px solid #f5f5f5;
  margin: 0 auto;
  overflow: auto;
}

.footer {
  color: #fff;
  text-align: center;
  margin: 15px 0 15px 0;
  font-size: 0.8rem;
}

/* Navigation */

.nav {
  background-color: #2ecc71;
  border-bottom: 5px solid #15b358;
  overflow: auto;
}

.nav > ul {
  display: inline-block;
  position: relative;
  margin: 5px;
  padding: 5px;
}

.nav > ul > li {
  display: inline-block;
  text-decoration: none;
  margin-right: 15px;
}

.nav > ul > li:last-child {
  margin-right: 0;
}

.navBtn {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  transition: 0.1s linear;
  display: inline-block;
}

.navBtn:hover {
  background-color: #48E68B;
}

.link {
  color: #0066CC;
  text-decoration: none;
}

.link:hover {
  color: #0096CC;
}

#logoBtn > img {
  background-color: #15b358;
  height: 34px;
  margin: 5px;
  padding: 8px 12px;
  float: left;
}

#loginBtn {
  background-color: #f1c40f;
  box-shadow: 0 5px 0 0 #d8ab00;
  color: #fff;
  padding: 2px 4px;
  margin: 8px;
  float: right;
  transition: 0.1s linear;
  display: none;
}

#loginBtn:hover {
  background-color: #ffde29;
}

#logoutBtn {
  background-color: #cc2e2e;
  box-shadow: 0 5px 0 0 #b31515;
  color: #fff;
  padding: 2px 4px;
  margin: 8px;
  float: right;
  transition: 0.1s linear;
}

#logoutBtn:hover {
  background-color: #e64848;
}

#loginBtn:active,
#logoutBtn:active {
  box-shadow: none;
  transform: translate(0, 5px);
}

#userBtn > img {
  background-color: #15b358;
  height: 42px;
  width: 42px;
  margin: 4px;
  padding: 4px;
  float: right;
}

#newsBtn {
  font-weight: bold;
}

#newsBtn:before {
  content: "🗞️ ";
}

#newsBtn:visited {
  color: #551a8b;
}

/* Sub-Navigation */

.subNav {
  background-color: #2ecc71;
  border-bottom: 5px solid #15b358;
  margin: 0 auto;
  max-width: 999px;
}

.subNav > ul {
  display: inline-block;
  position: relative;
  margin: 5px;
  padding: 0 10px 0 10px;
}

.subNav > ul > li {
  display: inline-block;
  text-decoration: none;
  margin-right: 15px;
}

.subNav > ul > li:last-child {
  margin-right: 0;
}

/* Breadcrumb */

.breadcrumb {
  margin-bottom: 15px;
}

/* Pagination */

.paginator {
  margin-bottom: 15px;
}

.paginator::before {
  content: "Page: ";
}

/* Search */

.searchBar {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Buttons */

.btn {
  padding: 15px 40px;
  text-decoration: none;
  margin: 20px;
  position: relative;
  display: inline-block;
  font-weight: normal;
  border: none;
  transition: 0.1s linear;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.btn.blue {
  background-color: #55acee;
  box-shadow: 0 5px 0 0 #3c93d5;
}

.btn.blue:hover {
  background-color: #6fc6ff;
}

.btn.yellow {
  background-color: #f1c40f;
  box-shadow: 0 5px 0 0 #d8ab00;
}

.btn.yellow:hover {
  background-color: #ffde29;
}

.btn.green {
  background-color: #2ecc71;
  box-shadow: 0 5px 0 0 #15b358;
}

.btn.green:hover {
  background-color: #48e68b;
}

.btn.red {
  background-color: #cc2e2e;
  box-shadow: 0 5px 0 0 #b31515;
}

.btn.red:hover {
  background-color: #e64848;
}

.btn:active {
  box-shadow: none;
  transform: translate(0, 5px);
}

.btn:disabled {
  transition: none;
  color: black;
  background-color: #ededed;
  box-shadow: 0 5px 0 0 #d6d6d6;
}

.btn:disabled:hover {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

.btn:disabled:active {
  transform: none;
}

/* Add-On Board Groups */

.boardGroupTable {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.boardGroupTable > thead > tr > th {
  padding: 5px;
  background-color: #2ecc71;
  border-bottom: 5px solid #15b358;
  color: #fff;
  font-weight: bold;
}

.boardGroupTable > tbody > tr > td:first-of-type {
  padding: 8px 4px 4px 4px;
  width: 40px;
}

.boardGroupTable > tbody > tr > td:nth-child(2) {
  text-align: left;
}

.boardGroupTable > tbody > tr > td:nth-child(2) a {
  color: #000;
  text-decoration: none;
}

.boardGroupTable > tbody > tr > td:nth-child(2) a:hover {
  color: #666;
}

.boardGroupTable > tbody > tr > td:nth-child(3) {
  width: 15%;
  color: #666;
}

.boardGroupTable > tbody > tr:nth-child(2n+1) {
  background-color: #f5f5f5;
}

/* Add-On Boards */

.boardTable {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.boardTable > thead > tr > th {
  padding: 5px;
  background-color: #2ecc71;
  border-bottom: 5px solid #15b358;
  color: #fff;
  font-weight: bold;
}

.boardTable > tbody > tr > td:first-of-type {
  padding: 10px;
  text-align: left;
}

.boardTable > tbody > tr > td:first-of-type a {
  color: #000;
  text-decoration: none;
}

.boardTable > tbody > tr > td:first-of-type a:hover {
  color: #666;
}

.boardTable > tbody > tr > td:nth-child(3) {
  width: 15%;
  color: #666;
}

.boardTable > tbody > tr:nth-child(2n+1) {
  background-color: #f5f5f5;
}

/* Add-Ons */

.addonIcon {
  height: 18px;
}

.addonComments {
  margin-bottom: 15px;
}

.addonComments .row {
  padding: 10px;
}

.addonComments .row div {
  padding: 0;
}

.addonComments .row:nth-child(2n+1) {
  background-color: #f5f5f5;
}

/* Errors */

.error {
  margin-top: 10px;
  border-left: 4px solid #b31515;
  padding: 8px;
  color: #b31515;
  font-size: 0.8rem;
  font-weight: bold;
  animation: fadeIn 500ms;
}

.success {
  margin-top: 10px;
  border-left: 4px solid #15b358;
  padding: 8px;
  color: #15b358;
  font-size: 0.8rem;
  font-weight: bold;
  animation: fadeIn 500ms;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Smaller Screens (WIP) */

@media only screen and (max-width: 975px) {
  #container {
    margin: 0;
  }

  .footer {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 650px) {
  #logoBtn > img {
    height: 26px;
    margin: 8px 6px 6px 6px;
    padding: 8px 10px;
  }

  .navBtn {
    font-size: 0.8rem;
  }

  #loginBtn,
  #logoutBtn {
    padding: 0 2px;
    margin: 8px;
  }
}

/* Dark Mode */

@media (prefers-color-scheme: darkx) {
  .header,
  .content {
    background-color: #111;
    color: #fff;
  }

  input {
    border: 1px solid #666;
    background-color: #333;
    color: #fff;
  }

  input:focus {
    outline: #15b358 solid 2px;
  }

  .boardGroupTable > tbody > tr:nth-child(2n+1),
  .boardTable > tbody > tr:nth-child(2n+1),
  .addonComments .row:nth-child(2n+1) {
    background-color: #222;
  }

  .boardGroupTable > tbody > tr > td:nth-child(2) a,
  .boardTable > tbody > tr > td:first-of-type a {
    color: #fff;
  }

  .boardGroupTable > tbody > tr > td:nth-child(2) a:hover {
    color: #666;
  }
}
